.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main {
  width: 30vw;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.stock-name {
  margin-right: 5px;
}

.stock-symbol {
  padding: 2px;
  background-color: black;
  border-radius: 20%;
  color: white;
  font-weight: bold;
}